container_commands:
  01_installnode:
    command: "yum install -y nodejs"
  02_runnodev:
    command: "npm install"
  03_runnodev:
    command: "npm run build"
  03_1_installfaker:
    command: "composer require fakerphp/faker"
  04_migrating:
    command: "php artisan migrate:fresh --seed"
  05_clear1:
    command: "php artisan cache:clear"
  06_clear2:
    command: "php artisan config:clear"
  07_clear3:
    command: "php artisan view:clear"
  08_clear4:
    command: "php artisan event:clear"
  09_clear5:
    command: "php artisan route:clear"
